* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  min-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

@media (min-width:320px) {
  .section {
    padding-bottom: 96px;
    padding-top: 96px;
    max-width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  body,
  .header {
    max-width: 320px;
  }
}

button {
  font-family: inherit;
  color: currentColor;
  padding: 0;
}

input {
  font-family: inherit;
}

/* -----------    Top-line    --------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media (min-width:320px) {
  .header {
    max-width: 100%;
  }
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.top-line-nav {
  display: flex;
  align-items: center;
}

.menu-link {
  padding: 16px 32px;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
  padding: 24px 0;
}

.menu-item {
  padding: 24px 0;
}

.menu-link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-clr {
  color: #2e2f42;
}

.menu-list {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  gap: 40px;
}

@media (min-width:320px) {

  .menu-list,
  .contacts {
    display: none;
  }
}

.menu-list>.menu-link {
  padding: 76px;
}

.menu-link-item:hover,
.menu-link-item:focus {
  color: #404bbf;
}

@media (min-width:320px) {
  .header-container {
    margin: 0;
  }
}


/* -----------    Top-line end    -------- */

/* -----------    Contacts    --------- */

.contacts {
  padding: 24px 0;
}

.contacts-info-list {
  font-weight: 400;
  gap: 40px;
}

.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.contacts-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus {
  color: #404bbf;
}

/* -----------    Contacts end   --------- */

/* -----------    Hero    --------- */

.section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

@media (min-width:320px) {
  .section-hero {
    padding: 72px 0;
  }

  .hero-title {
    font-size: 36px;
    width: 216px;
    text-align: center;
  }
}

/* -----------    Hero  end  --------- */

/* -----------    Advantages   --------- */


.advantages-container {
  display: flex;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.visually-hidden,
.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.advantages-icon-list {
  display: flex;
  gap: 24px;
}

.advantages-icon-position {
  margin: 0 auto;
}

@media (min-width:320px) {
  .container {
    padding: 0 28px;
  }

  .advantages-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
  }

  .advantages-list {
    flex-direction: column;
    gap: 76px;
    margin: 0 auto;
  }

  .advantages-item {
    width: 100%;
  }

  .advantages-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .advantages-icon-container {
    display: none;
  }
}

/* -----------    Advantages end  --------- */

/* -----------    Team   --------- */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name-position {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

/* .team-icon-container {
  margin-bottom: 32px;
} */

.team-icon-list {
  display: flex;
  gap: 24px;
  padding: 0 16px;
  justify-content: center;
}

.team-icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.team-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover {
  background-color: #404bbf;
}

.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon-item-position {
  fill: #f4f4fd;
}

.team-icon-use {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width:320px) {
  .team-list {
    flex-direction: column;
    gap: 72px;
  }

  .team-item {
    width: 100%;
  }
}

/* -----------    Team end  --------- */

/* -----------    Portfolio  --------- */


.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  max-width: 1128px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-item:hover .portfolio-img-text,
.portfolio-item:focus .portfolio-img-text {
  transform: translateY(0%);
}

.portfolio-item>.container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 100%;
  height: 100%;
}

@media (min-width:320px) {
  .portfolio-list {
    flex-direction: column;
    gap: 48px;
  }

  .portfolio-item {
    width: 100%;
  }
}

/* -----------    Portfolio end  --------- */

/* -----------    Footer   --------- */



.footer {
  padding: 100px 0;
  background: #2e2f42;
}

footer>.container {
  display: flex;
  align-items: baseline;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-media-container {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer-text-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icon-list {
  gap: 16px;
}

.footer-icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}

.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon-item-position {
  fill: #f4f4fd;
}

.footer-send-label-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-send-container {
  display: flex;
  flex-direction: column;
}

.footer-send-form {
  display: flex;
  gap: 24px;
}

.footer-send-label {
  display: flex;
  flex-direction: column;
}

.footer-send-label-text {
  margin-bottom: 16px;
}

.footer-send-area {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input:placeholder-shown {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
}

.footer-btn {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.footer-send-icon {
  margin-left: 16px;
  fill: #fff;
}

@media (min-width:320px) {
  .footer>.container {
    flex-direction: column;
  }

  .footer-link {
    margin: 0 auto 16px;
  }

  .footer-container {
    margin: 0 auto 72px;
  }

  .footer-media-container {
    margin: 0 auto 72px;

  }

  .footer-text-media {
    text-align: center;
  }

  .footer-text {
    max-width: 288px;
    /* margin-bottom: 72px; */
  }

  .footer-send-container {
    margin: 0 auto;
  }

  .footer-send-label-text {
    text-align: center;
  }

  .footer-send-form {
    flex-direction: column;
  }

  .footer-btn {
    width: 165px;
    margin: 0 auto;
  }
}


/* -----------    Footer end  --------- */

/* ------------Modal window */

.backdrop {
  /* display: flex; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  justify-content: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-container {
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  align-items: center;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-close-icon:hover {
  fill: #fff;
}

.modal-close-icon:focus {
  fill: #fff;
} */

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  border-radius: 4px;
  width: 360px;
  /* height: 336px; */
}

.form-container {
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-container .modal-input {
  padding-left: 38px;
}

.input-container .modal-input:focus+.modal-icon {
  fill: #4D5AE5;
}

/* .input-container .modal-icon {
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
}

.modal-icon {
  display: block;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-icon-use:focus {
  border-color: #4D5AE5;
  fill: #4D5AE5;
}

/* .modal-icon-use {
  fill: #4D5AE5;
} */

.modal-comment-container {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 360px;
  height: 120px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.modal-checkbox:checked+.modal-label-checkbox span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.modal-label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-icon-use {
  fill: #F4F4FD;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
}


.checkbox-icon {
  width: 16px;
  height: 16px;
  color: #8e8f99;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.modal-link {
  display: inline-flex;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  align-self: flex-end;
}

/* .modal-btn-container {
  display: flex;
  justify-content: center;
} */

.modal-submit-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}