* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
  padding-bottom: 96px;
  padding-top: 96px;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 112px;
    padding-top: 112px;
  }

  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-bottom: 188px;
    padding-top: 188px;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

button {
  font-family: inherit;
  color: currentColor;
  padding: 0;
}

input {
  font-family: inherit;
}

/* -----------    Top-line    --------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  /* max-width: 320px; */
  height: 56px;
  /* width: 1440px; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .header {
    height: 72px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    height: 72px;
  }
}

/* @media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
} */

.top-line-nav {
  display: flex;
  align-items: center;
}

.menu-link {
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  /* margin-right: 76px; */
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .menu-link {
    margin-right: 76px;
  }
}

.menu-item {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    gap: 40px;
  }

  .menu-item {
    display: flex;
    max-width: 768px;
    padding: 24px 0;
  }

  .menu-link-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link-item:hover,
  .menu-link-item:focus {
    color: #404bbf;
  }
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-clr {
  color: #2e2f42;
}

/* -----------    Top-line end    -------- */

/* -----------    Contacts    --------- */

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    /* display: inline-block; */
    display: block;
  }

  .contacts-info-list {
    flex-direction: column;
    gap: 12px;
    margin: 16px 0;
  }

  .contacts-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link {
    color: #434455;
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .contacts {
    display: flex;
    padding: 24px 0;
  }

  .contacts-info-list {
    flex-direction: row;
    gap: 40px;
    margin: 0;
  }

  .contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
  }
}

/* -----------    Contacts end   --------- */

/* -----------    Hero    --------- */

.section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.webp);
  }

  @media screen and (-webkit-min-device-pixel-ratio),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-webp-2x.webp);
    }
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
  max-width: 216px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
    max-width: 496px;
  }
}

.hero-btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* -----------    Hero  end  --------- */

/* -----------    Advantages   --------- */

.advantages-container {
  display: flex;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.visually-hidden,
.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 288px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    /* column-gap: 24px;
    row-gap: 72px; */
    gap: 72px 24px;
    max-width: 100%;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 100%;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* .advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
} */

.advantages-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */

.advantages-icon-container {
  display: none;
}

@media screen and (min-width: 1158px) {
  .advantages-item-text {
    font-weight: 400;
  }

  .advantages-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }

  .advantages-icon-list {
    display: flex;
    gap: 24px;
  }
}

/* -----------    Advantages end  --------- */

/* -----------    Team   --------- */

.team {
  background-color: #f4f4fd;
  margin: 0 auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  flex-direction: column;
  gap: 72px;
  max-width: 264px;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    padding: 0 76px;
    max-width: 100%;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    gap: 24px;
    padding: 0;
    max-width: 100%;
  }
}

.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name-position {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  gap: 24px;
  padding: 0 16px;
  justify-content: center;
}

.team-icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.team-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover {
  background-color: #404bbf;
}

.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon-item-position {
  fill: #f4f4fd;
}

.team-icon-use {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* -----------    Team end  --------- */

/* -----------    Portfolio  --------- */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  flex-direction: column;
  row-gap: 48px;
  max-width: 288px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 736px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
    max-width: 100%;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-item:hover .portfolio-img-text,
.portfolio-item:focus .portfolio-img-text {
  transform: translateY(0%);
}

.portfolio-item > .container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 100%;
  height: 100%;
}

/* -----------    Portfolio end  --------- */

/* -----------    Footer   --------- */

.footer {
  display: flex;
  padding: 100px 0;
  background: #2e2f42;
  justify-content: center;
}

footer > .container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-left: 92px;
  }
}

.footer-container {
  margin-bottom: 72px;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    margin-right: 120px;
    margin-bottom: 0;
  }

  footer > .container {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 0;
    margin-left: 0;
    margin: 0 auto;
  }
}

/* .footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-right: 120px;
} */

.footer-link {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* .footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
} */

.footer-media-container {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-media-container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-media-container {
    /* display: flex;
    flex-direction: column; */
    margin-right: 80px;
  }
}

.footer-text-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-text-media {
    text-align: left;
  }
}

.footer-icon-list {
  gap: 16px;
  justify-content: center;
}

.footer-icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}

.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon-item-position {
  fill: #f4f4fd;
}

.footer-send-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-send-container {
    align-items: start;
  }
}

.footer-send-label-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-send-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .footer-send-form {
    flex-direction: row;
    /* text-align: left; */
  }
}

/* .footer-send-form {
  display: flex;
  gap: 24px;
} */

.footer-send-label {
  display: flex;
  flex-direction: column;
}

.footer-send-label-text {
  margin-bottom: 16px;
}

.footer-send-area {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input:placeholder-shown {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
}

.footer-btn {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

/* .footer-btn {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
} */

.footer-send-icon {
  margin-left: 16px;
  fill: #fff;
}

/* -----------    Footer end  --------- */

/* ------------Modal window ------------*/

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} 


.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 584px;
  padding: 72px 16px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-container {
    width: 408px;
    align-items: center;
  }
}

.btnClose {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnClose:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.btnClose:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  width: 100%;
  border-radius: 4px;
}

.form-container {
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-container .modal-input {
  padding-left: 38px;
}

.input-container .modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
}

.modal-icon {
  display: block;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-icon-use:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-comment-container {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.modal-checkbox:checked + .modal-label-checkbox .check-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-label-checkbox {
  display: inline-flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
}

.check-icon {
  min-width: 16px;
  height: 16px;
  color: #8e8f99;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .check-icon {
    margin-top: 0;
  }
}

.modal-link {
  display: inline-flex;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  align-self: flex-end;
}

.modal-submit-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


/* ---------- End Backdrop -------- */

/* ------  Menu bar  ------- */

.menu-bar {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .menu-bar {
    display: none;
  }
}

.menu-bar-list {
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  padding: 2.5px 0;
}

.menu-bar-item {
  width: 18px;
  height: 3px;
  background-color: #2f2f37;
  border-radius: 1.5px;
}

/* ----------- Menu Mobile Box  ------------- */

.mobilebox {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  padding-top: 72px;
  padding-bottom: 24px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobilebox {
    display: none;
  }
}

.close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobi-menu-container {
  display: flex;
  margin-bottom: auto;
}

.mobi-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  flex-direction: column;
  gap: 40px;
  font-style: normal;
}

.mobi-menu-link {
  color: #2e2f42;
}

.mobi-icon-list {
  display: flex;
  gap: 40px;
  padding: 0 16px;
  justify-content: center;
}

.mobi-icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.mobi-address-container {
  display: flex;
  flex-direction: column;
}

.mobi-contacts {
  margin-bottom: 48px;
}

.mobi-info-list {
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-style: normal;
}

.mobi-contacts-link {
  color: #434455;
}

.mobi-menu-link:hover,
.mobi-menu-link:focus,
.mobi-contacts-link:hover,
.mobi-contacts-link:focus {
  color: #404bbf;
}

.mobi-social {
  margin-bottom: 48px;
}

.mobi-icon-link {
  display: flex;
  min-width: 40px;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobi-icon-item-position {
  fill: #f4f4fd;
}
